{%extends '@EasyAdmin/page/content.html.twig' %}
    {% block content %}
        <h1> Bienvenido al Panel de Administración de SpotifyOmar </h1>
        <p>Usa el menu de la izquierda para gestionar Spotify</p>
    {% endblock %}
