<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header id="containerHeader">
        <div id="titulo">
            <img src="images/logo.png" alt="logoSpotify" id="logoSpotify">
        </div>
        <div id="busqueda">
            <div class="inputContainer">
                <input type="text" name="buscarCancion" id="buscarCancion" placeholder="¿Qué quieres reproducir?">
                <img src="images/lupa.png" alt="lupa" class="iconoLupa">
            </div>
            <input type="submit" value="Buscar" id="btnBuscar">
        </div>
        <div id="registro">
            <img src="images/acceso.png" alt="logoRegistro" id="logoRegistro">
        </div>
    </header>

    <div id="mainContainer">
        <nav id="containerNav">
            <div id="tuBiblioteca">
                <img src="images/biblioteca-de-musica.png" alt="biblioteca">
                <span>Tu Biblioteca</span>
            </div>
            <div id="listaNav">
                <ul>
                    <li>
                        <img src="images/iconoMusic.png" alt="iconomusic" id="iconoMusic">
                        <a href="#">Canciones</a>
                    </li>
                    <li>
                        <img src="images/iconoPlaylist.png" alt="iconoPlaylist" id="iconoPlaylist">
                        <a href="#">Playlist</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div id="containerBody">
            <div id="tituloCanciones">
                <h2>Tus canciones</h2>
            </div>
            
            <div id="cancionesList">
                <article class="cancionItem">
                    <h3>Canción 1</h3>
                    <p>Artista: Nombre</p>
                </article>
                <article class="cancionItem">
                    <h3>Canción 2</h3>
                    <p>Artista: Nombre</p>
                </article>
                <article class="cancionItem">
                    <h3>Canción 3</h3>
                    <p>Artista: Nombre</p>
                </article>
            </div>
        </div>
    </div>
    
    <footer id="footer">
        <div id="reproductor">
            <div id="info">
                <div id="detallesCancion">
                    <span id="nombreCancion">Canción 1</span>
                    <span id="nombreArtista">Artista: Nombre</span>
                </div>
            </div>
            <audio id="audioCancion" src="#" preload="auto" controls></audio>
        </div>
    </footer>
    

    <script src="script.js"></script>
</body>
</html>


<!-- <div id="barraControler">
                <div id="controles">
                    <button id="previous"><i class="fas fa-backward"></i></button>
                    <button id="play"><i class="fas fa-play"></i></button>
                    <button id="next"><i class="fas fa-forward"></i></button>
                </div>
                
                <div id="barra">
                    <input type="range" id="barraReproductor" value="0" max="100" step="1">
                    <span id="tiempoCancion">0:00</span>
                </div>
            </div>
        </div>
        <div id="volumen" style="visibility: hidden;">
            <img src="images/alto-volumen.png" alt="iconoVolumen" id="iconoVolumen">
            <input type="range" id="controlVolumen" value="50" max="100" step="1">
        </div> -->