<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>
<body>
    <header id="containerHeader">
        <div id="titulo">
            <img src="../public/images/logo.png" alt="logoSpotify" id="logoSpotify">
        </div>
        <div id="busqueda">
            <div class="inputContainer">
                <input type="text" name="buscarCancion" id="buscarCancion" placeholder="¿Qué quieres reproducir?">
                <img src="../public/images/lupa.png" alt="lupa" class="iconoLupa">
            </div>
            <input type="submit" value="Buscar" id="btnBuscar">
        </div>
        <div id="registro">
            <img src="../public/images/acceso.png" alt="logoRegistro" id="logoRegistro">
        </div>
    </header>

    <div id="mainContainer">
        <nav id="containerNav">
            <div id="tuBiblioteca">
                <img src="../public/images/biblioteca-de-musica.png" alt="biblioteca">
                <span>Tu Biblioteca</span>
            </div>
            <div id="listaNav">
                <ul>
                    <li>
                        <img src="../public/images/iconoMusic.png" alt="iconomusic" id="iconoMusic">
                        <a href="#">Canciones</a>
                    </li>
                    <li>
                        <img src="../public/images/iconoPlaylist.png" alt="iconoPlaylist" id="iconoPlaylist">
                        <a href="#">Playlist</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div id="containerBody">
            
            
        </div>
    </div>

   
    <footer id="footer">
        <div id="audioControls">
            <button id="playPauseBtn">Play</button>
            <input type="range" id="progressBar" value="0" max="100" step="1">
            <span id="currentTime">0:00</span>
        </div>
        <audio id="audioPlayer" src="../public/music/cancion1.mp3" preload="auto"></audio>
    </footer>

</body>
</html>